
#desktop-nav{
    background: var(--Semi-Dark-Blue, #161D2F);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 18px 16px;
    width: 96px;
    height: 90vh;
    border-radius: 20px;
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 16px;
    position: absolute;
    z-index: 1;
}

.center-nav-desktop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.light{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}

