
nav{
    background: var(--Semi-Dark-Blue, #161D2F);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
}

.center-nav{
    display: flex;
    gap: 30px;
}
.light{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) hue-rotate(0deg);
}

