#recommended {
    background: var(--Dark-Blue, #10141E);
}
#recommended h1 {
    padding: 0 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--Pure-White, #FFF);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.312px;
}
