#recommended {
    background: var(--Dark-Blue, #10141E);
}
#recommended h1 {
    padding: 0 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--Pure-White, #FFF);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.312px;
}
.columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px){
    #recommended{
        padding-left: 150px;
    }
    .columns{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}