#trending{
    background: var(--Dark-Blue, #10141E);
    padding: 0 16px;
}
body{
    overflow-x: hidden;
}
#trending h1{
    padding-bottom: 16px;
    color: var(--Pure-White, #FFF);
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.312px;
}

@media only screen and (min-width: 768px){
    #trending{
        padding-left: 150px;
        width: 200vh;

    }
}